{
    "serverIp": "",
    "databaseIp": "",
    "databaseUsername": "",
    "databasePasswd": "",
    "cronTimezone": "",
    "missionTimes": [

    ],
    groups: [
        {
            "groupName": "",
            "groupMembers": [
                "",
                ""
            ]
        }
    ]
    "logLevel": ""
}